.title-release {
  font-weight: bold;
  font-size: 1.4em;
  color: rgb(19, 13, 19);
  padding-bottom: 25px;
}

.releases-name {
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(19, 13, 19);
  margin: 0;
}

.releases {
  padding-bottom: 100px;
}

.container-releases {
  padding-left: 75px;
  padding-top: 150px;
}
.img-releases {
  width: 125px;
}
.releases-name {
  width: 125px;
}

.characters-releases {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 80px;
}
