.hero-name {
  font-size: 0.9em;
}

.img-characters {
  width: 180px;
  height: 180px;
  object-fit: cover;
  background-color: yellowgreen;
  border-bottom-style: solid;
  border-bottom-color: red;
}

.characters-info {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.favorite-button-hero {
  background-color: transparent;
  border: none;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character-row {
  justify-content: space-between;
  margin-bottom: 40px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-bottom: 50px;
}

/* Style the active/current link */
.pagination button.active {
  background-color: rgb(255, 30, 30);
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination button:hover:not(.active) {
  background-color: #ddd;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid red; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-loader {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
