.hero-name {
  font-size: 0.9em;
}

.img-characters {
  width: 180px;
  height: 180px;
  object-fit: cover;
  background-color: yellowgreen;
  border-bottom-style: solid;
  border-bottom-color: red;
}

.characters-info {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.favorite-button-hero {
  background-color: white;
  border: none;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character-row {
  justify-content: space-between;
  margin-bottom: 40px;
}
